@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body {
  margin: 0;
  line-height: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}
